
<script>
    var list = document.querySelector("ul");
    list.addEventListener(
    "click",
    function (ev) {
        if (ev.target.tagName === "a") {
        ev.target.classList.toggle("menu-expand");
        }
    },
    false,
    );

</script>

{{- $currentPage := . }}

<!-- 遍历菜单项 -->
{{- range site.Menus.main }}
{{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
{{- $page_url:= $currentPage.Permalink | absLangURL }}
{{- $base_url := site.BaseURL }}
{{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
<li>
    <!-- 这部分应该是枚举菜单项 -->
    <a {{- if and (eq $menu_item_url $page_url) (ne $page_url $base_url) }} class="menu-active" {{- end }}
    href="{{ .URL | absLangURL }}"
    title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
    {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
        <!-- 菜单条目 -->
        <span>
        {{- .Pre }}
        {{- .Name -}}
        {{ .Post -}}
        </span>
    </a>
    <!-- 如果有子项 -->
    {{- if .HasChildren }}
    <div class="submenu-container">
        <ul class="submenu">
            {{- range .Children}}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $base_url := site.BaseURL }}
            {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
            <li>
                <a  {{- if and (eq $menu_item_url $page_url) (ne $page_url $base_url) }} class="menu-active" {{- end }}
                href="{{ .URL | absLangURL }}"
                title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                    <!-- 菜单条目 -->
                    <span>
                    {{- .Pre }}
                    {{- .Name -}}
                    {{ .Post -}}
                    </span>
                </a>
            </li>
            {{- end }}
        </ul>
    </div>
    {{- end }}
</li>
{{- end }}
