<!-- css 在 post-single.css 里面 -->
<div>
    <div>
        <!-- 作者 -->
        <!-- 我不会修，直接把partial调用删了，现在作者必须是列表 -->
        {{- if not (.Param "hideAuthor") -}}
        {{- (delimit (.Params.author | default site.Params.author) "，" ) }}
        {{- end -}}
        {{ partial "edit_post.html" . }}
    </div>
    <div>
        <!-- 字数统计 -->
        {{- if (.Param "ShowWordCount") -}}
        {{- i18n "words" .WordCount | default (printf "%d words" .WordCount) }}
        {{- end }}
        <!-- 创建时间 -->
        {{- if not .Date.IsZero -}}
        &emsp;·&emsp;
        {{- printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "06.1.2 PM" site.Params.DateFormat)) | safeHTML }}
        {{- end }}

        <!-- 更新时间 -->
        {{- if gt .Lastmod .Date -}}
        {{- printf "<span title='%s'>&nbsp;/&nbsp;%s&nbsp;更新</span>" (.Lastmod) (.Lastmod | time.Format (default "06.1.2 PM" .Site.Params.DateFormat)) | safeHTML }}
        {{- end }}
    </div>
</div>