
.header {
    z-index: 10;
    position: fixed;
    width: 100%;

    display: flex;
}

.nav {
    position: relative;
    text-align: center;
    line-height: var(--header-height);
    width: 95%; /* 我不知道该怎么避让滚动条，只能这样躲开了 */
    max-width: calc(var(--nav-width) + var(--gap) * 2);

    display: flex;
    flex-wrap: wrap;
    margin-inline-start: auto;
    margin-inline-end: auto;

    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-left: 1px solid var(--nav-border); /* 玻璃外框*/
    border-right: 1px solid var(--nav-border); /* 玻璃外框*/
    border-bottom: 1px solid var(--nav-border); /* 玻璃外框*/
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 10%);
}
  
.nav a {
    display: block;
    cursor: default;
}

.logo {
    display: flex;
    margin: auto calc(var(--gap) / 2);
}

.logo {
    flex-wrap: inherit;
}


.logo a {
    font-size: 15px;
    font-weight: 500;
    padding: 0px 8px 0px 8px;
}

.logo a img,
.logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

.logo a:hover {
    transition: 0.15s;
    border-radius: calc(var(--radius) / 2); /* 圆角 */
    background-color: var(--nav-menu-hover-bg);
}

/*.logo a:active {
    transition: 0.15s;
    transform: scale(0.95);
}*/

.nav #place-holder { /* 占位符 */
    flex: 1 1 auto;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

#moon:hover {
    transition: 0.15s;
    color: deepskyblue;
    border-radius: calc(var(--radius) / 2); /* 圆角 */
    background-color: var(--nav-menu-hover-bg);
}

#sun:hover {
    transition: 0.15s;
    color: gold;
    border-radius: calc(var(--radius) / 2); /* 圆角 */
    background-color: var(--nav-menu-hover-bg);
}


body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}


.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
