
#menu {
  display: inline;
  /*margin: auto calc(var(--gap) / 2);*/
  justify-self: center;

  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
}

#menu>li { /* 菜单项 */
  display: inline-block; /* 麻 */
  /*min-width: 70px;*/
}

#menu>li + li { /* 菜单项间距 */
  margin-inline-start: 2px;
}

#menu a { /* menu 下所有 a 通用的格式 */
  font-size: 15px;
  padding: 0px 8px 0px 8px;
}

#menu>li>a:hover { /* 菜单项-鼠标悬浮 */
    transition: 0.15s;
    border-radius: calc(var(--radius) / 2); /* 圆角 */
    background-color: var(--nav-menu-hover-bg);
}

#menu :hover .submenu-container { /* 显示子菜单 */
  display: block;
}

#menu>li>a.menu-active { /* 菜单项：处于当前页面 */
  border-radius: calc(var(--radius) / 2); /* 圆角 */
  background-color: var(--nav-menu-hover-bg);
}

.submenu-container {
  display: none;
  position: absolute;
  width: 160px;
  /*max-width: 160px;*/
  z-index: 20;

  border-radius: calc(var(--radius) / 2);
  border: 1px solid var(--nav-border); /* 玻璃外框*/
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 10%);
  background-color: var(--nav-bg);
  /* 毛玻璃 */
  backdrop-filter: brightness(120%) saturate(120%) blur(10px);
  -webkit-backdrop-filter: brightness(120%) saturate(120%) blur(10px);
}

.header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--nav-bg);
  /* 毛玻璃 */
  backdrop-filter: brightness(120%) saturate(120%) blur(10px);
  -webkit-backdrop-filter: brightness(120%) saturate(120%) blur(10px);
}

.submenu { /* 子菜单样式 */
  padding: 8px 8px 8px 8px; /* 菜单整块背景留白的边 */
}

.submenu li {
  display: block;
}

.submenu>li + li { /* 菜单项间距 */
  margin-block-start: 4px;
}

.submenu>li>a.menu-active { /* 子菜单项：正处于该页面 */
  color: var(--theme);
  border-radius: calc(var(--radius) / 2); /* 圆角 */
  background-color: var(--nav-submenu-hover-bg);
}

.submenu a {
  text-align: left;
}

.submenu a:hover { /* 子菜单项：悬停 */
  transition: 0.15s;
  color: var(--theme);
  border-radius: calc(var(--radius) / 2); /* 圆角 */
  background-color: var(--nav-submenu-hover-bg);
}
