
#menu {
  display: inline;
  margin: auto var(--gap);

  justify-content: right;
  align-self: flex-end;
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
}

#menu li { /* 菜单项 */
  display: inline-block; /* 麻 */
  /*min-width: 70px;*/
}

#menu li + li { /* 菜单项间距 */
  margin-inline-start: 2px;
}

#menu li a {
  font-size: 15px;
  padding: 0px 8px 0px 8px;
}

#menu li a:hover { /* 菜单项-鼠标悬浮 */
    transition: 0.15s;
    border-radius: calc(var(--radius) / 2); /* 圆角 */
    background-color: var(--nav-menu-hover-bg);
}

#menu :hover .submenu { /* 显示子菜单 */
  display: block;
}

#menu .active { /* 符合当前页面的菜单项 */
  border: 1px solid var(--nav-border);
}

.submenu {
  display: none;
  position: absolute;
  margin-left: -7px; /* 左偏移量 */
  line-height: calc(var(--header-height) - 2);
  min-width: 70px;
  z-index: 20;

  border-radius: calc(var(--radius) / 2);
  border: 1px solid var(--nav-border); /* 玻璃外框*/
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  /* 毛玻璃 */
  backdrop-filter: brightness(120%) saturate(120%) blur(10px);
  -webkit-backdrop-filter: brightness(120%) saturate(120%) blur(10px);
  background-color: var(--nav-bg); /* 注意顺序 */
}

.submenu a {
  text-decoration: none;
  display: block;
  margin: 2px 6px 2px 6px;
}
